<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User</title>
    <link rel="stylesheet" type="text/css"
    href="{{ url_for('static', filename='style.css') }}">
    <style>
        p {
            display: block;
            padding: 5px;
            padding-bottom: 10px;
        }

        #details {
            display: block; 
            border: 1px solid black;
            width: 300px;
        }
    </style>
</head>
<body>
    <h1>User {{user.id}}</h1>
    <div class="left" id="details">
        <p>Full Name: {{user.first_name}} {{user.last_name}}</p>
        <p>Email: {{user.email}}</p>
        <p>Created On: {{user.created_at}}</p>
        <p>Last Updated On: {{user.updated_at}}</p>
    </div>
    <div class="left">
        <a href="/user/edit/{{ user.id }}">Edit</a> | 
        <a href="">Delete</a>
    </div>
    <a href="/users" class="right">Home</a>
</body>
</html>